name: Make release

on:
  workflow_dispatch:

jobs:
  createRelease:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      # Drafts release notes as Pull Requests are merged into "master"
      - uses: release-drafter/release-drafter@v6
        id: rd
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Debug
        run: |
          echo "id:         ${{ steps.rd.outputs.id }}"
          echo "name:       ${{ steps.rd.outputs.name }}"
          echo "tag:        ${{ steps.rd.outputs.tag_name }}"
          echo "html_url:   ${{ steps.rd.outputs.html_url }}"
          echo "upload_url: ${{ steps.rd.outputs.upload_url }}"
          echo "body: ${{ steps.rd.outputs.body }}"

      # - name: Create tag based on release draft
      #   run: |
      #     git config user.name "${GITHUB_ACTOR}"
      #     git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
      #     git tag -a ${{ steps.rd.outputs.tag_name }} -m "Release ${{ steps.rd.outputs.tag_name }}"
      #     git push origin main --tags
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # the release workflow will be scheduled upon this tag
