name: Release with goreleaser
on:
  workflow_dispatch:
  push:
    tags:
      - v*.*.*
jobs:
  collect-thc:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config:
          - {src: x86_64, target: amd64}
          - {src: aarch64, target: arm64}
    steps:
      - name: get tiny health check
        run: |
          mkdir -p ${{ runner.temp }}/linux/${{matrix.config.target}}
          curl -L https://github.com/dmikusa/tiny-health-checker/releases/download/v0.35.0/thc-${{matrix.config.src}}-unknown-linux-musl -o ${{ runner.temp }}/linux/${{matrix.config.target}}/thc
      - name: Upload health check artifacts
        uses: actions/upload-artifact@v6
        with:
          name: thc-${{matrix.config.target}}
          path: ${{ runner.temp }}/linux/${{matrix.config.target}}/thc

  collect-grpc-health:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config:
          - amd64
          - arm64
    steps:
      - name: get grpc health check
        run: |
          mkdir -p ${{ runner.temp }}/linux/${{matrix.config}}
          curl -L https://github.com/grpc-ecosystem/grpc-health-probe/releases/download/v0.4.36/grpc_health_probe-linux-${{matrix.config}} -o ${{ runner.temp }}/linux/${{matrix.config}}/grpc_health_probe
      - name: Upload health check artifacts
        uses: actions/upload-artifact@v6
        with:
          name: grpc-${{matrix.config}}
          path: ${{ runner.temp }}/linux/${{matrix.config}}/grpc_health_probe

  goreleaser:
    needs:
      - collect-thc
      - collect-grpc-health
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write
      attestations: write
    steps:
      - uses: actions/checkout@v6

      - name: Unshallow Fetch
        run: git fetch --prune --unshallow

      - name: Download thc health check artifacts (amd64)
        uses: actions/download-artifact@v7
        with:
          name: thc-amd64
          path: ext/healthcheck/linux/amd64
      - name: Download thc health check artifacts (arm64)
        uses: actions/download-artifact@v7
        with:
          name: thc-arm64
          path: ext/healthcheck/linux/arm64
      - name: Download grpc health check artifacts (amd64)
        uses: actions/download-artifact@v7
        with:
          name: grpc-amd64
          path: ext/healthcheck/linux/amd64
      - name: Download grpc health check artifacts (arm64)
        uses: actions/download-artifact@v7
        with:
          name: grpc-arm64
          path: ext/healthcheck/linux/arm64

      - name: add execute permissions
        run: chmod +x ext/healthcheck/linux/{amd64,arm64}/*

      - name: show ext/healthcheck
        run: ls -laR ext/healthcheck

      - uses: actions/setup-go@v6
        with:
          go-version-file: "./go.mod"

      - name: setup qemu for docker
        uses: docker/setup-qemu-action@v3
      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Download syft
        uses: anchore/sbom-action/download-syft@v0
      - name: Prepare cosign installer
        uses: sigstore/cosign-installer@v4.0.0

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: release-drafter/release-drafter@v6
        id: rd
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: prepare changlog
        run: |
          echo "${{ steps.rd.outputs.body }}" > "${{ runner.temp }}/CHANGELOG.md"

      - name: Release via goreleaser
        uses: goreleaser/goreleaser-action@v7
        with:
          version: "~> v2"
          args: release --release-notes="${{ runner.temp }}/CHANGELOG.md"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # Note: The standard setting for the repository doesn't allow the default GITHUB_TOKEN to be used here
        # Either define a seperate Personal Access Token or permit the default GITHUB_TOKEN read/write access
        # see section "Workflow permissions" on https://github.com/mpapenbr/dings/settings/actions

      - name: attest checksums
        uses: actions/attest@v4
        with:
          subject-checksums: dist/checksums.txt
      - name: attest digests
        uses: actions/attest@v4
        with:
          subject-checksums: dist/digests.txt
